{
    margin
    padding 
}
   


main{
    width: 100%;
    overflow: hidden;
}

header nav {
    position:fixed;
    display:flex; 
    justify-content:space-between;
    width:100%;
    border-bottom: solid 3px white;
    align-items:center;
    color: white
    background-color#0e0e0e
    padding; 15px
}
 

header nav a img{
    height: 50px;
}

#mobile{
    height: 50px;
    width: 50px;

}

.nav-links{
    display: flex;
    gap: 64px
    align-items; center
    margin-right: 30px;
}


.login,
.menu {
    display:flex;
    gap: 16px;
    align-items:center
}

.idioma{
    display:flex;
    gap: 16px;
    align-items:center
}

.menu img {
    width: 35px;
    display:flex;
    gap:20px
    align-items;center
}

.bar {
   width: 2px
   background-color: color f0005
   height: 16px;
}

.large{
    height: 32px; 
}

.active{
    color: grey
}

main img {
    width: 100%
    height; 100 vh
    object-fit: cover
    object-position: top -300px right 0;

}

@media screen and (max-width: 768px) {
 #logo {
    display: none
}
#Exclude {
    display: block; 
}
}
.login {
    display: none;
}

.active{
    display: none;
}

.menu a, 
.menu div{
    display: none;
}